* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Orbitron";
  src: url("../assets/fonts/Orbitron-Black.eot");
  src: url("../assets/fonts/Orbitron-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Orbitron-Black.woff2") format("woff2"),
    url("../assets/fonts/Orbitron-Black.woff") format("woff"),
    url("../assets/fonts/Orbitron-Black.ttf") format("truetype"),
    url("../assets/fonts/Orbitron-Black.svg#Orbitron-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("../assets/fonts/Orbitron-Medium.eot");
  src: url("../assets/fonts/Orbitron-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Orbitron-Medium.woff2") format("woff2"),
    url("../assets/fonts/Orbitron-Medium.woff") format("woff"),
    url("../assets/fonts/Orbitron-Medium.ttf") format("truetype"),
    url("../assets/fonts/Orbitron-Medium.svg#Orbitron-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("../assets/fonts/Orbitron-Regular.eot");
  src: url("../assets/fonts/Orbitron-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Orbitron-Regular.woff2") format("woff2"),
    url("../assets/fonts/Orbitron-Regular.woff") format("woff"),
    url("../assets/fonts/Orbitron-Regular.ttf") format("truetype"),
    url("../assets/fonts/Orbitron-Regular.svg#Orbitron-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("../assets/fonts/Orbitron-Bold.eot");
  src: url("../assets/fonts/Orbitron-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Orbitron-Bold.woff2") format("woff2"),
    url("../assets/fonts/Orbitron-Bold.woff") format("woff"),
    url("../assets/fonts/Orbitron-Bold.ttf") format("truetype"),
    url("../assets/fonts/Orbitron-Bold.svg#Orbitron-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

main {
  flex-grow: 1;
}

.drumkit {
  display: flex;
  justify-content: center;
}

.drumpad {
  padding: 0.625rem;
  width: 20%;
  height: 20vw;
  background: skyblue;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.3s, transform 0.5s;
  transform: scale(0.9);
  line-height: 1.625rem;
}

.drumpad span {
  display: none;
}

.drumpad:hover {
  opacity: 1;
  transform: scale(1);
}

.drumpad:hover span {
  display: block;
}

.controls {
  padding: 1rem;
}
